{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}
    
{% block main %}
    <div style="text-align:center">
        <h1>Welcome to Post Editor!</h1>
        <br>
    </div>
    <div style="text-align:center">
        <img src="/static/robot_working.png" style="width:50%;height:50%;">
    </div>
    <br>
    <h2>How it works:</h2>
    <p>Upload a Word document or '.txt' file of almost any size (limit 16MB) that needs some touchup to the spelling, grammar, punctuation, and other style specifics.
        The application will process your file using the local Ollama AI model to provide professional copy editing following the Chicago Manual of Style. 
    </p>
    <p>Processing time may vary depending on your system's capabilities and the size of the text.
    </p>
    <div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <h3>Upload a Word document (.docx)</h3>
            <div class="mb-3">
                <label for="fileUpload" class="form-label"></label>
                <input class="form-control" type="file" name="file" id="file">
            </div>
            <div>
                <button class="btn btn-dark" type="submit" name="upload" value="upload_file">Submit file</button>    
            </div>
            <br><br>
            <h4>Or paste your text below</h4>
            <div class="form-group">
                <textarea class="form-control" id="text_box" name="text_box" rows="5"></textarea>
            </div>
            <br>
            <div>
                <button class="btn btn-dark" type="submit" name="upload" value="upload_text">Submit text</button>    
            </div>
        </form>
        <br><br><br><br><br>
    </div>
{% endblock %}